<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TODOGUS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9A0F30A1C631B81003F6469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9A0F31E1C631B81003F6469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9A0F3291C631B81003F6469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
